#!/usr/bin/env perl6
use v6;{{=#`{{ }}=}}#`{{! Mustache tags double up as Perl 6 embedded comments}}
use Test;#`{{#cdata}}
use JSON::Fast;#`{{/cdata}}#`{{#modules}}
use #`{{&use}};#`{{/modules}}
use lib $?FILE.IO.dirname;#`{{#lib_comment}} #`[#`{{&lib_comment}}]#`{{/lib_comment}}
use #`{{&exercise}};#`{{#plan}}
plan #`{{&plan}};#`{{#plan_comment}} #`[#`{{&plan_comment}}]#`{{/plan_comment}}#`{{/plan}}
#`{{#methods}}#`{{#methods_comment}}
#`[#`{{&methods_comment}}]#`{{/methods_comment}}
subtest 'Class methods', {
  for <#`{{&methods}}> -> $method {
    can-ok #`{{&exercise}}, $method;
  }
} or bail-out 'Cannot run expected method(s).';
#`{{/methods}}#`{{#cdata}}
my $c-data = from-json $=pod.pop.contents;#`{{/cdata}}
#`{{&tests}}#`{{#cdata}}

=head2 Canonical Data
=begin code
#`{{&json}}
=end code#`{{/cdata}}
