name: Generator
on:
  - push
  - pull_request

jobs:
  generator:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b

      - run: bin/fetch-configlet
      - run: bin/configlet sync || true

      - name: Install Raku
        uses: Raku/setup-raku@v1

      - run: zef install --/test App::Prove6
      - run: zef install --/test --deps-only .

      - name: Test generator
        run: prove6 t/generator

      - name: Generated files match generator output
        run: prove6 t/files
