name: Generator
on:
  - push
  - pull_request

jobs:
  generator:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Checkout problem-specifications
        uses: actions/checkout@v2
        with:
          repository: exercism/problem-specifications
          path: .problem-specifications

      - name: Install Raku
        uses: Raku/setup-raku@v1.4.0

      - run: zef install --/test App::Prove6
      - run: zef install --/test --deps-only .

      - name: Test generator
        run: prove6 t/generator

      - name: Generated files match generator output
        run: prove6 t/files
